
<div class="item-heading">
    <div class="item-name-title">Product Name</div>
    <div class="item-quantity-title">Quantity</div>
    <div class="item-price-title">Price</div>
</div>

{{#each items}}
<div class="item">
    <div class="item-name">{{this.name}}</div>
    <div class="item-quantity">{{this.quantity}}</div>
    <div class="item-price">{{this.price}}</div>
</div>
{{/each}}


<form action="/pay" method="POST">
    <input class="button-submit" type="submit" value="BUY">
</form>