
<div class="item-heading">
    <div class="item-name-title">Tên sản phẩm</div>
    <div class="item-quantity-title">Số lượng</div>
    <div class="item-price-title">Đơn giá</div>
</div>

{{#each items}}
<div class="item">
    <div class="item-name">{{this.name}}</div>
    <div class="item-quantity">{{this.quantity}}</div>
    <div class="item-price">{{this.price}}</div>
</div>
{{/each}}


<form action="/pay" method="POST">
    <input class="button-submit" type="submit" value="Thanh Toán">
</form>