<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zalopay Payment Demo</title>
</head>
<body>
    {{{body}}}

    <style>
        .item-heading {
            display: flex;
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 50px;
            position: relative;
            font-weight: 600;
            font-size: 20px;
        }

        .item-name-title {
            position: absolute;
            left : 0;

        }
        .item-quantity-title {
            position: absolute;
            left: 400px;
        }

        .item-price-title {
            position: absolute;
            left: 600px;

        }
        .item {
            display: flex;
            margin-top: 40px;
            margin-left: 30px;
            position: relative;
        }

        .item-name {
            position: absolute;
            left: 0px;
        }

        .item-quantity {
            position: absolute;
            left: 420px;
        }

        .item-price {
            position: absolute;
            left: 610px;
        }

        .button-submit {
            margin-top: 60px;
            margin-left: 550px;
            height: 40px;
            width: 150px;
            background-color: red;
            border: 2px solid #000;
            
        }
    </style>
</body>
</html>